/*
URLs on the domain: calendar.google.com
*/

.rUCtP,
.gb_Bd.gb_7d,
svg,
.DPvwYc.sm8sCf.NhjcAb,
.rSoRzd,
span.DPvwYc.gPMPbe,
span.DPvwYc.NhjcAb,
.NlWrkb,
.zqD8eb {
  background-color: #333333!important;
  color: #DDDDDD!important;
}

.SU7tYb.elYzab-cXXICe-Hjleke.F262Ye,
.YvjgZe.F262Ye,
.WJVfWe.A3o4Oe::after {
  background-color: #434343!important;
  color: #CCCCCC!important;
}
